%p Channels allows you to send and receive messages from your groups in your phone, email, twitter or other ways.

%p You can still send and see messages on the website without configuring a channel.

#{link_to 'Configure an email address', email_new_channel_path}
%br
#{link_to 'Configure a mobile phone', mobile_phone_new_channel_path}
%br
#{link_to 'Configure an xmpp address', xmpp_new_channel_path}
%br
%br

%table.table
  %tr
    %th address
    %th kind
    %th status
    %th
  - @channels.each do |channel|
    %tr
      %td= channel.address
      %td= channel.protocol_name
      -if channel.activation_pending?
        %td= link_to(channel.status, channel_path(channel))
      -else
        %td= channel.status
      %td #{link_to 'turn on', turn_on_channel_path(channel) if channel.off?}                         |
          #{link_to 'turn off', turn_off_channel_path(channel) if channel.on?}                        |
          #{link_to 'delete', channel_path(channel), :method => :delete, :confirm => 'Are you sure?'} |
