%h4 Configure a mobile phone

:javascript
  var countries = #{Hash[@countries.map{|c| [c['iso2'], c['phone_prefix']]}].to_json};
  function country_changed(value) {
    $("#prefix").html('+' + countries[value]);
    $.get("/nuntium/carriers/" + value, function(data) {
      var html = '';
      for(var i = 0; i < data.length; i++) {
        html += '<option value="' + data[i].guid + '">' + data[i].name + '</option>';
      }
      $("#sms_channel_carrier").html(html);
    });
  }

= form_for @channel, :url => mobile_phone_new_channel_path do |f|
  - if @channel.errors.any?
    #error_explanation
      %h2 #{pluralize(@channel.errors.count, "error")} prohibited you from configuring this #{@channel.protocol_name}:
      %ul
        - @channel.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :country_iso2, 'Country'
    %br
    = f.select :country_iso2, @countries.map{|c| [c['name'], c['iso2']] }, {}, :onchange => 'country_changed(this.value)'
  %p
    = f.label :carrier_guid, 'Carrier'
    %br
    = f.select :carrier_guid, @carriers.map{|c| [c['name'], c['guid']] }
  %p
    = f.label :address, 'Mobile number'
    %br
    %span#prefix +#{@countries.first['phone_prefix']}
    = f.text_field :address
  = submit_tag 'Configure'
