%h3 Your channels

%h4 Configure an email channel

%p Enter your email address in the field below.

= form_for @channel, :url => email_new_channel_path do |f|
  - if @channel.errors.any?
    #error_explanation
      %h2 #{pluralize(@channel.errors.count, "error")} prohibited you from configuring tivation this #{@channel.protocol_name}:
      %ul
        - @channel.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :address, 'Email'
    %br
    = f.text_field :address
  = submit_tag 'Configure'
