= content_for :head do
  %script{:type => 'text/javascript', :src => 'messagesview/messagesview.nocache.js'}
  :javascript
    var Resources = [];
    function gwtUserLogin() { return "#{@user.login}"; }
    function gwtGroups() { return #{@groups.to_json}; }
    function gwtGroupsOrder() { return "#{@user.groups_order}"; }
    function gwtServerUtcTicks() { return #{Time.now.strftime('%s').to_i * 1000}; }
    var gwtClientUtcDateRef = (new Date()).getTime();
    function gwtClientUtcDate() { return gwtClientUtcDateRef; }

%table#messagesViewContainerTable
  %tr
    %td#messagesViewContainer
      #loadingPlaceHolder
        %img#loadingDount
        #loadingLabel Loading
