- if @invite
  To accept the invite to #{@invite.group} you can either:
  %ul
    %li create a new account, or
    %li login to your account if you are already a user of GeoChat (even if the invite email was sent to an email address you don't use for GeoChat)

%h3 Login to your account:

= form_for @user, :url => session_path, :html => {:id => :login} do |f|
  %p
    = f.label :login, 'Login, email, phone number, twitter or jabber address'
    %br
    = f.text_field :login
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :remember_me_token, 'Stay signed in'
    %br
    = f.check_box :remember_me_token
  %p.error= flash[:login_error]
  = submit_tag 'Login'

%h3 Or create a new account:

= form_for @new_user, :url => register_session_path, :html => {:id => :register} do |f|
  - if @new_user.errors.any?
    #error_explanation
      %h2 #{pluralize(@new_user.errors.count, "error")} prohibited you to create an account:
      %ul
        - @new_user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :login
    %br
    = f.text_field :login
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  = submit_tag 'Register'
