%h4 Members

= page_entries_info @memberships, :entry_name => 'user'
= will_paginate @memberships, :param_name => 'users_page'

%table.table
  %tr
    %th Login
    %th Role
    - if @user_membership.admin?
      %th
  - @memberships.each do |membership|
    %tr
      %td= link_to_user membership.user.login
      %td= membership.admin? ? 'admin' : 'member'
      - if @user_membership.admin?
        %td
          - if membership.member?
            #{link_to 'make admin', make_admin_path(:user => membership.user.login)}
