- if @groups.empty?
  %p You don't belong to any group yet. In order to chat with others you need to #{link_to 'create a group', new_group_path} or #{link_to 'join a group'}.
- else
  %p Your belong to #{@groups.length} group#{'s' if @groups.many?}, of which you own #{@owned_groups.length}.
  %p #{link_to 'Create a group', new_group_path}
  %p #{link_to 'Browse public groups', new_group_path}

  %table.table
    %tr
      %th Alias
      %th Name
      %th Role
      %th Hidden?
      %th Chatroom?
      %th Requires approval to join?
      %th Forward to owners?
      %th Members
      %th
    - @groups.each do |group|
      %tr
        %td= group.alias
        %td= group.name
        %td= @memberships.select{|m| m.group == group}.first.role
        %td= group.hidden? ? 'Yes' : 'No'
        %td= group.chatroom? ? 'Yes' : 'No'
        %td= group.requires_approval_to_join? ? 'Yes' : 'No'
        %td= group.forward_owners? ? 'Yes' : 'No'
        %td{:align => :right}= group.users_count
        %td= link_to 'view', group
