- if @groups.empty?
  %p You don't belong to any group yet. In order to chat with others you need to #{link_to 'create a group', new_group_path} or #{link_to 'join a group'}.
- else
  %p Your belong to #{@groups.length} group#{'s' if @groups.many?}, of which you own #{@owned_groups.length}.
  %p #{link_to 'Create a group', new_group_path}
  %p #{link_to 'Browse public groups', public_groups_path}

  %table.table
    %tr
      %th Alias
      %th Name
      %th Role
      %th Hidden?
      %th Requires approval to join?
      %th Kind
      %th Members
      %th
    - @groups.each do |group|
      - admin = @memberships.select{|m| m.group == group}.first.admin?
      %tr
        %td= link_to group.alias, group
        %td= group.name
        %td= admin ? 'admin' : 'member'
        %td= group.hidden? ? 'Yes' : 'No'
        %td= group.requires_approval_to_join? ? 'Yes' : 'No'
        %td= group.kind.to_s.gsub('_', ' ')
        %td{:align => :right}= group.users_count
        %td
          = link_to 'view', group
          = link_to 'set location', change_group_location_path(group) if admin && !group.location_known?
