%h4 Create a new group

= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2 #{pluralize(@group.errors.count, "error")} prohibited you from creating this group:
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :alias
    %br
    = f.text_field :alias
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description, :rows => 5
  %p
    = f.label :hidden
    = f.check_box :hidden
  %p
    = f.label :requires_approval_to_join
    = f.check_box :requires_approval_to_join
  %p
    = f.label :chatroom
    = f.check_box :chatroom
  %p
    = f.label :forward_owners
    = f.check_box :forward_owners
  %p= f.label :location
  = render :partial => 'shared/location', :locals => {:f => f, :lat => @group.lat || @user.lat, :lon => @group.lon || @user.lon, :width => 400, :height => 300}
  = submit_tag 'Create group'

