%h4 Create a new group

= form_for @group, :url => new_group_path do |f|
  - if @group.errors.any?
    #error_explanation
      %h2 #{pluralize(@group.errors.count, "error")} prohibited you from creating this group:
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :alias
    %br
    = f.text_field :alias
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description, :rows => 5
  = submit_tag 'Create group'

