%h3= @group.name_with_alias

%p= @group.description

%p This is a #{@group.kind.to_s.gsub('_', ' ')} group.

- if @invite
  - if @invite.admin_accepted?
    %p= link_to 'You have been invited to this group. Join it now!', join_group_path(@group)
  - else
    %p You already requested to join this group.
- else
  - if @group.requires_approval_to_join?
    %p= link_to 'Request to join this group', join_group_path(@group)
  - else


%h4 Location

- if @group.location_known?
  #{@group.location}.
- else
  This group's location is unknown.

   %p= link_to 'Join this group', join_group_path(@group)
