%h3= @group.name_with_alias

%p= @group.description

= render 'location'
= render 'members'
= render 'custom_locations'
= render 'custom_sms_channels' if @user_membership.owner?
= render 'external_service'
