%h3= @group.name_with_alias

%p= @group.description

%h4 Location

- if @group.location_known?
  #{@group.location}.
- else
  This group's location is unknown.
  - if @user_membership.owner?
- if @user_membership.owner?
  #{link_to 'change', change_group_location_path}

%h4 Members

= page_entries_info @memberships, :entry_name => 'user'
= will_paginate @memberships, :param_name => 'users_page'

%table.table
  %tr
    %th Login
    %th Role
    - if @user_membership > :admin
      %th
  - @memberships.each do |membership|
    %tr
      %td= membership.user.login
      %td= membership.role
      - if @user_membership.owner?
        %td
          - if membership.admin?
            #{link_to 'make member', change_role_path(:user => membership.user.login, :role => :member)}
          - if membership.member?
            #{link_to 'make admin', change_role_path(:user => membership.user.login, :role => :admin)}
          - if membership.member? || membership.admin?
            #{link_to 'make owner', change_role_path(:user => membership.user.login, :role => :owner)}
      - elsif @user_membership.admin?
        %td
          - if membership.member?
            #{link_to 'make admin', change_role_path(:user => membership.user.login, :role => :admin)}

%h4 Custom locations

= render :partial => 'shared/custom_locations', :locals => {:locatable => @group, :can_edit => @user.is_owner_of?(@group)}

%h4 Custom channels

= link_to "Create a custom sms channel", new_custom_sms_channel_path

%br
- if @custom_channels.blank?
  No custom channels.
- else
  %table.table
    %tr
      %th Name
      %th Kind
      %th Direction
      - if @user_membership.owner?
        %th
    - @custom_channels.each do |channel|
      %tr
        %td= channel.name
        %td= channel.kind
        %td= channel.direction
        - if @user_membership.owner?
          %td= link_to 'delete', destroy_custom_channel_path(@group, channel), :method => :delete, :confirm => "Are you sure you want to delete the #{channel.kind} #{channel.name} channel?"
