= form_for @custom_location, :url => create_custom_location_path(locatable, @custom_location), :html => {:method => :post}  do |f|
  - if @custom_location.errors.any?
    #error_explanation
      %h2 #{pluralize(@custom_location.errors.count, "error")} prohibited you from creating this custom location:
      %ul
        - @custom_location.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p= f.label :location
  = render 'shared/location', :f => f, :lat => (@custom_location.lat || @user.lat), :lon => (@custom_location.lon || @user.lon), :width => 800, :height => 300
  = submit_tag(locatable.new_record? ? 'Create custom location' : 'Update custom location')
