%h3 Welcome to GeoChat!

- if !@has_groups || !@has_channels || !@has_location
  To help you get started we suggest you do the following:
  %ul
    - if !@has_groups
      %li #{link_to 'Create a group', new_group_path} or #{link_to 'join one', public_groups_path}: a group is a bunch of people ready to discuss and collaborate on a topic.
    - if !@has_channels
      %li #{link_to 'Configure a channel', channels_path} so that you can send and receive messages from your groups in your phone, email, twitter or instant messenger
    - if !@has_location
      %li #{link_to 'Tell us your location', change_user_location_path} so that people know you are near them when they need help or can find when you are in help

- if @last_messages.present?
  %h4 Last messages from your groups
  %ul
    - @last_messages.each do |msg|
      %li #{msg.sender_login} to #{link_to msg.group_alias, group_path(msg.group_alias)} #{time_ago_in_words msg.created_at} ago: #{truncate msg.text, :length => 50}

- if @user.location_known?
  %h4 Groups near you

  Will list groups near to the user's location... when he signs up through the web we will guess his location with his IP.
